.clinic-footer {
  background: linear-gradient(to right, #ffffff, #abd1cd, #ffffff);
  color: rgb(0, 0, 0);
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%;
  z-index: 1;
  height: 70px;
}

.footer-content {
  display: flex; 
  align-items: center; 
}

.footer-column {
  flex: 1;
  padding: 0 15px;
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

p {
  margin: 5px 0;
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }
}