<footer class="clinic-footer" [class.visible]="isVisible">
    <div class="footer-content">
        <div class="footer-column">
            <p>Dirección: Coronel Rodriguez, Coronda</p>
            <p>Teléfono: 123-456-789</p>
            <p>Email: castelnovoalejo&#64;gmail.com</p>
        </div>
        <div class="footer-column">
            <p>Alumnos: Castelnovo Alejo, Cortez Lautaro.</p>
        </div>
        <div class="footer-column">
            <div class="social-icons">

                <!-- Estas son las "redes" de la clinica -->
                <a href="https://iessantafe.edu.ar/" target="_blank">Facebook</a>
                <a href="https://iessantafe.edu.ar/" target="_blank">Twitter</a>
            </div>
        </div>
    </div>
</footer>