<div class="dashboard-content">
  <h2>Bienvenido/a, {{ userName }}</h2>

  <div class="main-content">
    <h2>Hace click en alguna de las opciones para acceder</h2>
  </div>

  <div [ngSwitch]="userType">
    <div *ngSwitchCase="'paciente'">
      <mat-card>
        <mat-card-content>
          <h3>Opciones para Pacientes</h3>
          <ul>
            <li><a routerLink="/paciente/nuevo-turno">Solicitar Nuevo Turno</a></li>
            <li><a routerLink="/paciente/mis-turnos">Ver Mis Turnos</a></li>
            <li><a routerLink="/paciente/mis-datos">Mis Datos Personales</a></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngSwitchCase="'operador'">
      <mat-card>
        <mat-card-content>
          <h3>Opciones para Operador</h3>
          <ul>
            <!--          falta implementar sus funciones-->
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngSwitchCase="'medico'">
      <mat-card>
        <mat-card-content>
          <h3>Opciones para Médico</h3>
          <ul>
            <li><a routerLink="/medico/turnos-programados">Turnos Programados</a></li>
            <li><a routerLink="/medico/gestion-agenda">Gestión de Agenda</a></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngSwitchCase="'administrador'">
      <mat-card>
        <mat-card-content>
          <h3>Opciones para Administrador</h3>
          <ul>
            <li><a routerLink="/administrador/gestion-usuarios">Gestión de Usuarios</a></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngSwitchDefault>
      <mat-card>
        <mat-card-content>
          <h3>Rol no reconocido</h3>
          <p>No se han encontrado opciones para tu rol de usuario.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>