<header class="header">
  <div class="logo">
    <img src="/assets/images/medico2.jpg" alt="Logo Clínica" class="logo-img">
    <a routerLink="/" class="logo-text">Clinica virtual</a>
  </div>

  <div class="auth-buttons" >
    <button class="btn-login" routerLink="/login">Iniciar sesión</button>
    <button class="btn-register" routerLink="/registro">Registrarse</button>
  </div>

  <div class="user-info" *ngIf="isLoggedIn()">
    <div class="user-image-container">
      <img [src]="userImagePath" alt="Icono de usuario" class="user-icon">
      <div class="user-type-tooltip">
        <span class="user-type-badge">{{ userTypeShort }}</span>
        <span class="user-type-full">{{ userType }}</span>
      </div>
    </div>
    <span class="user-name">{{ userName }}</span>
    <span class="user-role">{{ userType }}</span>

    <span class="home-link" (click)="navigateToHome()">Inicio</span>
    <span class="logout" (click)="logout()">Cerrar sesión</span>
  </div>
</header>
