<div class="home">
  <section class="hero">
    <h1>Bienvenido a la Clinica Virtual</h1>
    <p class="subtitle">Tu consultorio privado de medicina</p>
  </section>

  <section class="features">
    <mat-card class="feature">
      <div class="icon-container">
        <mat-icon>event</mat-icon>
      </div>
      <mat-card-title>Solicita turnos</mat-card-title>
      <mat-card-content>
        <p>Agenda tus citas médicas de forma rápida y sencilla</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="feature">
      <div class="icon-container">
        <mat-icon>videocam</mat-icon>
      </div>
      <mat-card-title>Consultas en línea</mat-card-title>
      <mat-card-content>
        <p>Accede a consultas virtuales con profesionales</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="feature">
      <div class="icon-container">
        <mat-icon>folder</mat-icon>
      </div>
      <mat-card-title>Historial médico</mat-card-title>
      <mat-card-content>
        <p>Accede a tu historial médico en cualquier momento</p>
      </mat-card-content>
    </mat-card>

  </section>
  <section class="parteabajo">
    <h2>Comenza ya con tu atencion medica registrandote</h2>
  </section>
</div>