<!-- 
CONTRASEÑAS DE LOS USUARIOS: 1234

ROLES Y SUS DNI PARA INICIAR SESION; (numero del 1 al 4 para hacerlo mas facil): 

operador; 1  ///  paciente;2 //// medico;3 //// admin;4 
-->

<form class="form-container" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>DNI</mat-label>
        <input matInput formControlName="dni" required autocomplete="username" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" required autocomplete="current-password">
    </mat-form-field>

    <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid || loading">
            {{loading ? 'Iniciando sesión...' : 'Iniciar Sesión'}}
        </button>

        <button mat-button type="button" (click)="onRegister()">
            Registrarse
        </button>
    </div>
</form>