<div class="container">
  <table mat-table [dataSource]="medicos" class="mat-elevation-z8">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let medico">{{medico.nombre}} {{medico.apellido}}</td>
    </ng-container>

    <ng-container matColumnDef="especialidad">
      <th mat-header-cell *matHeaderCellDef>Especialidad</th>
      <td mat-cell *matCellDef="let medico">{{medico.especialidad}}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let medico">
        <button mat-icon-button (click)="editarAgenda(medico.id)" matTooltip="Editar agenda">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="verTurnos(medico.id)" matTooltip="Ver turnos">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>