<nav class="navbar">
    <div class="logo">
        <img src="/assets/images/medico2.jpg" alt="Logo Clínica" class="logo-img">
        <a routerLink="/" class="logo-text">Clinica virtual</a>
    </div>

    <div class="auth-buttons" *ngIf="!authService.isLoggedin()">
        <button mat-button routerLink="/login">
            <mat-icon>login</mat-icon>
            Iniciar sesión
        </button>
        <button mat-button routerLink="/registro">
            <mat-icon>person_add</mat-icon>
            Registrarse
        </button>
    </div>

    <div class="user-info" *ngIf="authService.isLoggedin()">
        <div class="user-image-container">
            <img [src]="userImagePath" alt="Icono de usuario" class="user-icon">

        </div>
        <span class="user-name">{{ userName }}</span>
        <button mat-button (click)="navigateToHome()">
            <mat-icon>home</mat-icon>
            Inicio
        </button>
        <button mat-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Cerrar sesión
        </button>
    </div>
</nav>