.nuevo-turno-container {
    position: relative;
}

mat-card {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 20px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 16px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 20px;
}

textarea {
    min-height: 100px;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}